/* NOTE: object-fit not working on Internet Explorer, if u r using other browser naman, just ignore it for now */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f2f2f2;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #ffffff;
}

.header {
  height: 250px;
  background-color: #429690;
  border-radius: 0 0 100% 100% / 0 0 35% 35%;
  color: #fff;
  padding: 20px;
}


.circle {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: transparent;
  border: 15px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  top: 100px;
  left: 0;
  object-fit: cover;
}

.circle1 {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: 15px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  top: 50px;
  left: 0;
  object-fit: cover;
}

.circle2 {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 15px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  top: 25px;
  right: 375px;
  object-fit: cover;
}

/* login */
.mainbody {
  display: flex;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.LoginText{
  text-align: center;
  padding: 15px 0;
  color: #2F7E79;
  font-size: large;
  border-bottom: 1px solid #2F7E79;
}

.LoginBox {
  position: relative;
  width: 90%;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.LoginBox form{
  padding: 20px 30px;
  box-sizing: border-box;
}

form .txt_field{
  position: relative;
  border-bottom:  1px solid #63B5AF;
  margin: 20px 0;
  
}

.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;

}

.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #ababab;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
}

.txt_field span::before{
  content:'';
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  background: #63B5AF;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #63B5AF;
}

.ForgotPass{
  margin: -5px 0 20px 5px;
}

/* home */
.greetingText{
  margin-top: 60px;
  text-align: left;
  padding: 10px;
}

.TransactionHistory {
  position: absolute;
  top: 80px;
  width: 100%;
  height: 100%;
  left: 0%;
  background-color: #ffffff;
  transform: translate(0%, 50%);
  overflow:hidden; 
  overflow-y:scroll;
  justify-content: space-between;
  z-index: 999999;
}

.TransactionHistory::-webkit-scrollbar {
  display: none;
}

.TransactionHistory {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.List{
  position: absolute;
  width: 100%;
  display: flex;
  top: 350px;
  justify-content: space-between;
}

.List b {
  position: relative;
  padding: 20px;
  justify-content: center;
  text-align: center;
}

.List button {
  top: 0;
  position: relative;
  height: 70px;
}

.seeMoreBtn {
  position: absolute;
  top: 0;
  width: 81px;
  height: 23.33px;
  background-color: #ffffff;
  border: none;
  color: #464646;
  font-size: 12px;
  cursor: pointer;
}

.newTransactionButton{
  position: fixed;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  background-color: #438883;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  z-index: 1002;
  font-size: 30px;
  color: #ffffff;
}

.newTransactionButton:hover {
  background-color: #f2f2f2;
  color: #429690;
}

.account-balance {
  position: absolute;
  width: 90%;
  height: 201px;
  top: 155px;
  background: #2F7E79;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.balanceInfo {
  text-align: Left;
  color: #ffffff;
  padding: 20px;
}

.totalBalance{
  padding-right: 5px;
}

.IncomeExpenses{
  display: flex;
  padding: 20px;
}

.incomeText{
  color: #ffffff;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
  padding-right: 0;
  text-align: left;
}

.expenseText{
  color: #ffffff;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
  padding-left: 0;
  text-align: right;
}

.Transaction {
  height: 75px;
  display:flex; 
  align-items:center;
  padding: 0 25px;
  justify-content: space-between;
  }

  .Transaction:hover {
    background-color: #afbbb5;
  } 
  
.translabel label{
    display:block;
  }

.transname {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
  text-transform: capitalize; 
  width: 100%;
  }
  
.transdate {
  color:#666666;
  font-size: 13px;
  letter-spacing: -0.26px;
  text-transform: capitalize; 
  width: 100%;
  }
  
.transamt {
  color: #25A969;
  text-align: right;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.72px;
  text-transform: capitalize; 
  }
  

/* profile */
.account-profile {
  position: absolute;
  top: -120px;
  transform: translate(-50%, 50%);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #b8b8b8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.account-profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.account-name {
  padding: 10px;
  margin-bottom: -2px;
}

.username {
  font-weight: 900;
  color: #438883;
}

.profile {
  text-align: left;
  padding: 0 35px;
  margin-bottom: 30px;
}

.transact-list {
  margin: 1.5rem 2rem;
  display: flex;
  align-items: center;
}

.transact-list font-awesome-icon {
  margin-right: 20px;
}

.transact-list span {
  padding: 10px;
  text-align: left;
}

/* add transaction */
.add-transaction {
  width: 90%;
  height: 550px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  margin: auto;
  top: 155px;
  border-radius: 20px;
  position: absolute;
  top: 150px;
  z-index: 1;
}

.dropdown {
  width: 100%px;
  height: 50px;
  margin-bottom: 10px;
  
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

#selectfield, #selectfield-expense, #selectfield-transaction {
  padding: 0 20px;
  width: 100%;
  height: 50px;
  border: 1px solid #429690;
  border-radius: 6px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#list, #list-expense, #list-transaction {
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
  margin-top: 0px;
  padding: 0;
  list-style-type: none;
  cursor: pointer;
}

#list ul, #list-expense ul {
  z-index: 1;
}

.options {
  width: 100%;
  padding: 15px 0 15px 60px;
  list-style: none;
  cursor: pointer;
  background: rgb(255, 255, 255);
  border: 1px solid #AAAAAA;
  border-radius: 6px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.options-expense, .options-transaction{
  width: 100%;
  padding: 15px 0 15px 20px;
  list-style: none;
  cursor: pointer;
  background: rgb(255, 255, 255);
  border: 1px solid #AAAAAA;
  border-radius: 6px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.options img {
  width: 25px;
  position: absolute;
  top: 15px;
  left: 20px;
}

.options:hover, .options-expense:hover, .options-transaction:hover {
  background-color: #429690;
  color: #ffffff;
  z-index: 1;
}

.hide {
  visibility: hidden;
}

.hide1 {
  visibility: hidden;
}

.hide2 {
  visibility: hidden;
}

.inputfield {
  width: 100%;
  height: 50px;
  padding: 12px 20px;
  margin-bottom: 10px;
  display: inline-block;
  border: 1px solid #429690;
  border-radius: 6px;
  box-sizing: border-box;
  position: relative;
}

.inputfield::-webkit-outer-spin-button,
.inputfield::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.price-input::before {
    content: "\20B1";
    position: absolute;
    color: #549994;
    left: 42px;
    top: 152px;
    z-index: 1;
    transform: translateY(-50%);
}

.price-input input {
    padding:  0 45px;
}

#selecttext {
  display: flex;
  position: relative;
}

#selecttext img {
  display: flex;
  width: 25px;
  margin-right: 15px;
}

form {
  padding: 20px; 
  background-color: #ffffff;
  border-radius: 20px;
}

form label {
  font-weight: bold;
}

.buttone {
  height: 50px;
  background-color: #429690;
  color: #f2f2f2;
  border-radius: 6px;
  margin-top: 20px;
  border: none;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.buttone:hover {
  background-color: #f2f2f2;
  color: #429690;
}

@media screen and (min-width: 768px) {
  .buttone {
    width: 49%;
  }
}

@media screen and (max-width: 767px) {
  .buttone {
    width: 100%;
  }
}


/* transaction details */
.TransactionLogo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #b8b8b8;
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.TransactionLogo img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 50%;
}

.TransactionType {
  position: relative;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
}

.Amount {
  position: relative;
  top: 12%;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 20px;
  text-align: center;
}

.TransactionInfo {
  position: relative;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 30px;
}

.alignleft {
  color: #666666;
  font-weight: bold;
  float: left;
}

.alignright {
float: right;
  font-weight: bold;
}

/* bottom nav */
.bottomnav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 1000;
}

.bottomnav button {
  border: 0;
  background-color: transparent;
  padding-top: 30px;
  /* width: 30px;
  height: 30px; */
}

/* Media Queries for Responsive Design */
  
  /* Small devices (portrait phones) */
  @media screen and (max-width: 480px) {
    .tagline {
      font-size: 16px;
    }
  
    #start {
      font-size: 16px;
    }
  }
  
  /* Medium devices (landscape phones) */
  @media screen and (min-width: 481px) and (max-width: 767px) {
    .tagline {
      font-size: 18px;
    }
  }

  @media only screen and (max-width: 600px) {
    .login-container {
      align-items: flex-start;
      padding-top: 20px;
    }
    
    .LoginBox {
      margin-top: 20px;
    }
    
    .LoginText {
      font-size: 30px;
    }
  }
  
  /* Large devices (tablets) */
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .tagline {
      font-size: 20px;
    }
  
    #start {
      font-size: 18px;
    }
  }
  
  /* Extra-large devices (laptops and desktops) */
  @media screen and (min-width: 1024px) {
  }